<!DOCTYPE html>
{% load static %}
<html>
<head>
  {{ data|json_script:"template-data" }}
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="{% static 'js/player.js' %}"></script>
  <script src="https://sdk.scdn.co/spotify-player.js"></script>
  <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
  <link type="text/css" rel="stylesheet" href="{% static 'css/client.css' %}" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
</head>
<body>
  <div id="app">
    <b-container fluid>
      <b-row id="main-row">
        <b-col id="sidebar-left" class="sidebar">
          <ul>
            <playlist-item
              v-for="item in playlistList"
              v-bind:playlist="item"
              v-bind:key="item.id"
            ></playlist-item>
          </ul>
        </b-col>
        <b-col id="main-content"></b-col>
        <b-col id="sidebar-right" class="sidebar"></b-col>
      </b-row>
      <b-row id="player-row">
        <p id="status">Not connected.</p>
        <button id="play-button" onclick="togglePlay()" disabled>[[ paused ? 'Play' : 'Pause' ]]</button>
      </b-row>
    </b-container>
  </div>

  <script>
    var paused = true;

    Vue.options.delimiters = ['[[', ']]'];

    Vue.component('song-item', {
      props: ['song'],
      template: '<li>[[ song.name ]]</li>'
    })

    Vue.component('playlist-item', {
      props: ['playlist'],
      template: '<li>[[ playlist.name ]]</li>'
    })

    var app = new Vue({
      el: '#app',
      data: {
        paused: true,
        playlistList: [],
        songList: [
          {id: 0, name: 'Crash'},
          {id: 1, name: 'Darkest Part'},
          {id: 2, name: 'Always Faithful'}
        ]
      },
    })

    function getMyPlaylists() {
      var url = 'https://api.spotify.com/v1/me/playlists'

      $.ajax(url, {
        dataType: 'json',
        headers: {Authorization: 'Bearer ' + access_token},
        data: {limit: 50}
      })
      .done(function(data) {
        app.playlistList = [];

        for (playlist of data.items) {
          playlist_obj = {
            id: app.playlistList.length,
            name: playlist.name
          };

          app.playlistList.push(playlist_obj);
        }
      })
    }

    getMyPlaylists();
  </script>
</body>
</html>
