body {
    color: #b3b3b3;
}

/* Top-level app */
#app {
    height: 100vh;
}

/* Top-level container */
body > .container-fluid {
    height: 100vh;
}

/* Top row (main) */
#main-row {
    height: 90%;
}

#main-row > .col {
    height: 100%;
    overflow-y: auto;
}

.sidebar {
    background-color: #121212;
    flex: 0 0 15rem;
}

/* Left column */
.playlist-item {
    cursor: default;
}

.playlist-item:hover {
    color: white;
}

/* Center */
#main-content {
    background-color: #181818;
}

.track-item {
    cursor: default;
}

.track-item:hover {
    color: white;
}

/* Right column */
#sidebar-right {
    display: none;
}

/* Bottom row (player) */
#player-row {
    background-color: #282828;
    height: 10%;
}